.chicago {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin: 4rem 0;
}

.chicago > article {
  width: min-content;
}

.chicago > article > h2 {
  font-size: 52px;
  white-space: nowrap;
  margin: 0;
  color: #f4ce14;
}

.chicago > article > h3 {
  margin: 0;
  color: #333333;
  font-size: 42px;
}

.chicago > article > p {
  margin-top: 3rem;
  line-height: 1.5rem;
}

.overlay-images {
  position: relative;
}

.overlay-images > img:last-child {
  position: absolute;
  top: -50px;
  left: 230px;
}

@media (max-width: 1300px) {
  .chicago {
    flex-direction: column;
    gap: 2rem;
  }

  .chicago > article {
    width: 60%;
  }

  .overlay-images > img:last-child {
    position: static;
  }

  .overlay-images > * {
    margin: 0 0.7rem;
  }
}

@media (max-width: 845px) {
  .overlay-images {
    text-align: center;
  }

  .overlay-images > * {
    display: inline-block;
    margin: 1.5rem 0;
    width: 80%;
  }
}
