.specials {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.heading {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.heading > h2 {
  font-size: 32px;
}

.heading > button {
  height: min-content;
  padding: 1rem 1.2rem;
  border: none;
  border-radius: 5px;
  background: #f4ce14;
  font-weight: 800;
}

.body {
  display: flex;
  justify-content: center;
  gap: 3rem;
}

.card {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 5px;
  background: #f3f3f37d;
}

.card > img {
  border-radius: 5px;
}

.card > .description {
  padding: 1.5rem;
}

.card > .description > .card-header {
  display: flex;
  justify-content: space-between;
}

.card > .description > .card-header > .item-name {
  font-weight: 800;
}

.card > .description > .card-header > .price {
  color: #ee9972;
}

.card > .description > .card-footer {
  font-weight: 800;
}

@media (max-width: 1300px) {
  .card {
    width: 25%;
  }
}

@media (max-width: 950px) {
  .body {
    flex-direction: column;
    align-items: center;
  }

  .card {
    width: 65%;
  }
}

@media (max-width: 550px) {
  .heading {
    flex-direction: column;
  }
}
